@import url('https://fonts.googleapis.com/css2?family=Alata&family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');

body{
    font-family: Alata;
    background-color: rgb(167, 114, 114);
    color: #333;
    text-align: center;
}

img {
    width: 100%;
    border-radius: 10px;
    max-height: 300px;
    object-fit: cover;
}

p {
    font-size: 20px;
}

a {
    color: lab(85.89% -3.45 -2.88);
    text-decoration: none;
    font-weight: 700;
}

a:hover{
    color: chartreuse;
}